@import '../../assets/css/varibles';

.container-main {
  background-color: #f2f2fa;
  height: 100vh;

  .content {
    display: flex;

    > div {
      width: 50%;
    }

    .title-main {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
    }

  }
}

@media only screen and (max-width: 1024px) {
  .container-main {
    height: auto;

    .content {
      display: block;

      > div {
        width: 100%;
      }
    }
  }
}