@import '../../assets/css/varibles';

.group-buttons-delete, .group-buttons-alter-contact, .group-buttons-alter-password {

  .div-button.cancel {
    width: 45%;
    button {
      display: flex;
      justify-content: center;
    }
  }
  
  .div-button.confirm-alter-contact{
    width: 55%;
    button {
      background: $color_green;
    }
  }

}