$color_lightBlue: #40c8f4;
$color_blue: #2179b5;
$color_label: #999999;
$color_white: #ffffff;

$color_inputWithoutFocus: #efeeed;
$color_inputWithFocus: #555555;
$color_inputBorderColor: #dbdbdb;

$color_button: #dddcdc;
$color_background: #f6f6f6;

$color_red: #d94d4d;
$color_green: #2db92d;